
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyproj
*.pycproj


venv/
env/


.vscode/
.idea/


__pypackages__/
pip-wheel-metadata/


*.log
*.log.*
log.txt
*.log*


.env


*.com
*.class
*.dll
*.exe
*.o
*.so


*.swp
*.swo
*~
*.db
*.sqlite
*.sqlite3


node_modules/
jspm_packages/
